html {
  box-sizing: border-box;
}

*, *:before, *after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', serif;
  margin: 0;
  padding: 0;
}

.header, .hero, .footer {
  background-color: #1F2937;
  color: white;
  display: flex;
  padding: 20px 300px;
  justify-content: space-between;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 10%;
  font-weight: 700;
  font-size: 15px;
  padding: 8px 32px;
  margin-top: 10px;
}

/* Header section */

.header {
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Hero section */

.hero {
  gap: 40px;
  padding: 100px 300px;
}

.hero-title {
  color:#F9FAF8;
  font-size: 48px;
  font-weight:900;
}

a, .hero-text {
  font-size: 18px;
  color: #E5E7EB;
}

.forest {
  height: auto;
  width: 500px;
}

/* Central section */

.main {
  display: flex;
  flex-direction: column;
}

.top-third, .quote-space, .bottom-banner {
  height: 400px;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin: 40px;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.main-info img {
  height: 125px;
  width: 125px;
  border-radius: 10%;
  border: 2px solid black;
}

.book, .road, .blossoms, .what {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 125px;
  height: 225px;
  gap: 5px;
}

.quote-space {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quote-box {
  width: 750px;
  height: auto;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 16px;
}

.caption {
  text-align: end;
}


.bottom-banner {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: #3882F6; 
  margin: 170px;
}

.bottom-banner .sign-up {
  border: 2px solid white;
}


/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}