html {
  box-sizing: border-box;
}

*, *:before, *after {
  box-sizing: inherit;
}

*:focus {
  border: 3px solid white;
}

body {
  font-family: 'Roboto', serif;
  margin: 0;
  padding: 0;
}

.header, .hero, .footer {
  background-color: #1F2937;
  color: white;
  display: flex;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 2%;
  font-weight: 700;
  font-size: 1rem;
  padding: 4% 12%;
  margin-top: 5%;
}

/* Header section */

.header {
  padding: 2% 20%;
  justify-content: center;
  align-items: center;
}

.header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 1.8rem;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a, .hero-filler {
  color: #E5E7EB;
  line-height: 1.3;
}

/* Hero section */

.hero {
  gap: 40px;
  padding: 5% 15%;
  justify-content: center;
}

.hero-contents {
  display: flex;
  gap: 5%;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-text > button {
  width: 80%;
  align-self: center;
}

.hero-title {
  color:#F9FAF8;
  font-size: 3rem;
  font-weight:900;
}

.forest {
  height: auto;
  width: 100%;
}

/* Central section */

.main {
  display: flex;
  flex-direction: column;
}

.top-third, .quote-space, .bottom-banner {
  align-items: center;
  justify-content: center;
  margin-block: 4%;
}


/* Top third - the information and pictures */

.main-title {
  font-size: 2.5rem;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin: 5% 10%;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.main-info img {
  height: 125px;
  width: 125px;
  border-radius: 10px;
  border: 2px solid black;
}

.book, .road, .blossoms, .what {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 125px;
  height: 225px;
  gap: 5px;
}

/* Middle third - the quote section */

.quote-space {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quote-box {
  width:60%;
  padding-block: 5%;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 16px;
}

.caption {
  text-align: end;
}


/* Bottom third - the banner, since I don't know what else to call it */

.bottom-banner {
  display: flex;
  flex: 1 0 auto;
}

.banner {
  background-color: #3882F6; 
  color: white;
  width: 700px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 40px 100px;
}

.b-head {
  font-size: 20px;
  font-weight: 900;
}

.b-subtext {
  font-weight: 300;
}

.bottom-banner .sign-up {
  border: 2px solid #F9FAF8;
}


/* Footer */

.footer {
  justify-content: center;
  align-items: center;
  padding: 20px;
}